*{
    margin: 0; padding: 0; box-sizing: border-box;
}

main{
    width: 100%;
    height: 100vh;
    background-color: hsl(218, 23%, 16%);
    font-size: 28px;
    font-family: 'Manrope', sans-serif;
}

.container-menagem {
    width: 40%;
    height: 50vh;
    background-color: hsl(217, 19%, 24%);
    margin: auto;
    transform: translate(0, 50%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

}

#advice{
    margin-top: 18px;
    font-size: 20px;
}

.msn-class {
    text-align: center;
    height: 50vh;
    display: flex;
    align-items: center;
}

#msg {
    font-size: 25px;
    padding: 5px;
}

.pattern {
   width: 80%;
}

.pattern-img {
    background-image: url('../img/pattern-divider-desktop.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 5vh;
}

.dice {
    display: flex;
    align-items: flex-end;
    padding: 15px;
    background-color: hsl(150, 100%, 66%);
    border-radius: 30px;
    cursor: pointer;
    transform: translate(0, 25px);
}

.dice:hover {
    box-shadow: 0 0 35px hsl(150, 100%, 66% , 0.5);
}

@media screen and (max-width: 350px) {
    .container-menagem {
        width: 90%;
        height: 50vh;
    }

    #advice{
        margin-top: 5px;
        font-size: 15px;
    }

    #msg {
        font-size: 16px;
        padding: 5px;
    }

    .pattern-img {
        background-image: url('../img/pattern-divider-mobile.svg');
        height: 5vh;
    }
}

@media screen and(min-width: 767px)  {

}

@media screen and(min-width: 768px) and (max-width: 1023px) {
    
}

@media screen and(min-width: 1024px) {
    
}

